<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="flex align-middle justify-center ">
    
    <div class=" border-4 border-sky-600/75 rounded-md w-100 h-125 text-center m-28 max-md:m-5 max-md:mt-24">
        <h1 class="text-5xl font-semibold  py-5 text-sky-900 my-5">Log-<span class="text-sky-600 ">In</span></h1>
        <form action="/login" method="post">
            <input type="text" name="name" placeholder="Username" required class="border-b-2 p-2 border-sky-500 w-72 mt-12 outline-none max-md:w-56">
            <input type="password" name="password" placeholder="Password" required class="border-b-2 p-2 border-sky-500 w-72 mt-12 outline-none max-md:w-56">
            <input type="submit" class="bg-sky-600 p-2 w-72 mt-12 rounded-md text-blue-200 hover:bg-sky-600/70 duration-300 max-md:w-56">
            <p class="mt-8 font-semibold">Create New Account &ThickSpace;<a href="/signup" class="text-sky-600 font-semibold">Sign-up</a></p>
        </form>    
    </div>
    
</body>
</html>